<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telmon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen relative overflow-x-hidden h-fit">
<nav class="nav sticky top-0 bg-white border-b flex p-4 items-center justify-between">
    <h1 class="font-bold px-4 text-2xl">telmon</h1>
    <h5 class="px-5 text-sm font-medium">STATISTICS</h5>
    <div class="p-2 space-x-3 text-sm flex">
        <div>status: <small class="text-gray-900" id="status">connected</small></div>
        <div>lines: <small class="text-gray-900" id="count">{{.Stats.Count}}</small></div>
    </div>
</nav>

<div style="padding-top: 30px; padding-bottom: 40px;"
     class="flex-col justify-center items-center h-full w-full overflow-hidden space-y-6 space-x-6 ">

    <canvas class="p-5 flex justify-center" id="statsChart" width="400" height="250"></canvas>
    <h5 class="border-b text-sm font-medium">LOGS</h5>
    <div class="w-full h-96 p-2 bg-gray-900 w-100 flex overflow-auto dark">
        <pre class="text-white w-100" id="fileData">{{.Data}}</pre>
    </div>
</div>

<!--chats.json-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="text/javascript">

    const ctx = document.getElementById('statsChart');

    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: []
        },
        options: {
            scales: {
                y: {
                    min: 0
                },
                x: {
                    type: 'time',
                    time: {
                        displayFormats: {
                            quarter: 'HHH DDD MMM'
                        }
                    }
                }
            }
        }
    });

    function genGraph(datasets) {
        chart.data.datasets = datasets
        chart.update()
    }

    (function () {
        const status = document.getElementById("status");
        const logs = document.getElementById("fileData");
        const count = document.getElementById("count");
        const conn = new WebSocket("ws://{{.Host}}/ws?lastMod={{.LastMod}}");
        conn.onclose = function (evt) {
            status.textContent = 'Connection closed';
        }
        conn.onmessage = function (evt) {
            console.log('file updated');
            const json = JSON.parse(evt.data);
            const stats = json["statistics"]
            logs.textContent = atob(json["logs"]);
            count.textContent = stats["count"];

            let datasets = []
            let keySet = new Set(stats["data"].map(line => line["kind"]))
            let keys = new Array(...keySet)

            keys.forEach(key => {
                let sortedData = new Array(...stats["data"].filter(x => x["kind"] === key.toString()))
                datasets.push(
                    {
                        label: key,
                        data: sortedData.map(line => {
                            return {
                                x: line["time"],
                                y: key.toString() === "restored" ? 2 : key.toString() === "failed" ? 1 : 3,
                            }
                        }),
                        fill: false,
                        tension: 0.1,
                        borderColor: key.toString() === "restored" ? 'rgb(255,255,0)' : key.toString() === "failed" ? 'rgb(192, 0, 0)' : 'rgb(0, 192, 0)',
                    }
                )
            })

            genGraph(datasets)
            console.log(datasets)

        }
    })();
</script>
</body>
</html>